##### basic requirements #####

fasteners
pathvalidate
python-gettext


##### requests libraries #####

chardet < 3.10
urllib3 < 1.26
requests


##### backend libraries #####

azure-core
azure-storage-blob
b2sdk
boto
boto3
boxsdk[jwt]
dropbox
gdata-python3
google-api-python-client
google-auth-oauthlib
jottalib
keyring
mediafire
megatools               ; python_version >= '3.7'
paramiko
pexpect
psutil
pydrive2
pyrax
python-swiftclient
python-keystoneclient
requests-oauthlib


##### testing libraries #####


coverage
mock >= 3.0.5
pycodestyle
pylint
pytest
pytest-cov
pytest-runner
setuptools >= 44.1.1
setuptools-scm >= 5.0.2
tox


##### documentation libraries #####

gitchangelog            ; python_version >= '3.7'
myst-parser             ; python_version >= '3.7'
pystache                ; python_version >= '3.7'
sphinx                  ; python_version >= '3.7'
sphinx-rtd-theme        ; python_version >= '3.7'
